.avatar-root {
    position: relative;
    display: flex;
    height: 2rem;
    width: 2rem;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 999px;
    border: 1px solid hsl(var(--border));
}

.avatar-image {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
}

.avatar-fallback {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    background-color: hsl(var(--muted));
    color: hsl(var(--foreground));
    font-size: 0.75rem;
    font-weight: 700;
}
