name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: '**/package-lock.json'

    # Backend
    - name: Install Backend Dependencies
      run: cd server && npm install

    - name: Build Backend
      run: cd server && npm run build

    # Frontend
    - name: Install Frontend Dependencies
      run: cd client && npm install

    - name: Build Frontend
      run: cd client && npm run build

    # Docker Build Test
    - name: Build Docker Images
      run: docker compose build
